/* THIS LINE LOADS IN A NICE RESET TO ENSURE ALL BROWSERS HAVE THE SAME BASE STYLES */

@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');
/* Start your base/mobile styles here */

<style>html, body {
  /* Sets default font-size to 16px, ensuring 1em = 16px; */
  font-size: 16px;
}

h1 {
  font-size: 40px;
  font-family: 'Mukta Mahee', sans-serif;
  text-align: center;
  color: 0E400A;
  line-height: 40px;
  margin-left: 5px;
  margin-right: 5px;
}

p {
  font-size: 16px;
  font-family: 'Mukta Mahee', sans-serif;
  margin-left: 5px;
  margin-right: 5px;
}

img {
  display: block;
  margin: auto;
  width: 95%;
}

.caption {
  font-family: 'Mukta Mahee', sans-serif;
  font-size: 12px;
  font-style: italic;
  margin-top: -15px;
  margin: auto;
  width: 90%;
}

.byline {
  font-family: 'Mukta Mahee', sans-serif;
  font-size: 16px;
  font-style: italic;
  margin-top: 16px;
  border-bottom: 1px solid #000000
}

#maincontent {
  max-width: 800px;
  margin: auto;
}

/* Tablet/Desktop overrides */

@media(min-width: 681px) {
  /* Any adjustments for tablets and larger go here. Note these styles will be applied to anything 681px or larger -- so tablet AND desktop */
  h1 {
    font-size: 60px;
    line-height: 60px;
    margin-left: 10px;
    margin-right: 10px;
  }
  p {
    font-size: 22px;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  .caption {
    font-size: 18px;
    width: 70%;
  }
  .byline {
    font-size: 24px;
  }
  #image {
    width: 300px;
  }
  .caption {
    font-size: 14px;
  }
}

@media(min-width: 729px) {
  h1 {
    font-size: 70px;
  }
  p {}
  img {
    max-width: 800px;
  }
  #image {
    width: 360px;
  }
  .caption {
    font-size: 14px;
  }
  </style>